body {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    margin: 30px auto;
    background-color: #000;
}

.cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    width: 70px;
}


.whoplayer {
    width: 100px;
    height: 100px;
    margin: auto;
}



.game_end {
    width: 300px;
    margin: 30px auto;
    display: none; 
    align-items: center;
    flex-direction: column;
}

.game_end button {
    margin-top: 20px;
    width: 100px;
    background-color: #000;
    color: #fff;
    border: 2px solid #f1c40f;
}
.game_end button:after {
    content: "";
    position: absolute;
    top: 551px;
    left: 0;
    right: 0;
    width: 100px;
    height: 10px;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;
}
.game_end button:hover:after {
    border-color: #f1c40f;
    width: 85px;
    height: 30px;
}