body {
    margin: 0 auto;
    font-family: sans-serif;
}

.money {
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    font-weight: 800;
}

.factory_container {
    display: none;
    width: 400px;
    height: 400px;
    padding-top: 40px;
    border-radius: 14px;
    margin: -600px 0 0 900px;
    background: #fff;
    box-shadow: 0px 5px 23px -2px rgba(34, 60, 80, 0.2);
}

.factory {
    margin-left: 100px;
    width: 200px;
    height: 200px;
    background: #52c460;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
    border-radius: 6px;
}


.factory_upgrade_btn {
    border: none;
    background: #172e1a;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 1025px;
    transition: background .2s;
}
.factory_upgrade_btn:hover {background: #2f5734;}

.factory_open_btn {
    cursor: pointer;
    position: absolute;
    top: 220px;
    left: 84px;
}
.factory_open_btn img {width: 86px;}
.army_open_btn {
    cursor: pointer;
    position: absolute;
    top: 230px;
    left: 220px;
}
.army_open_btn img {width: 72px;}

.collect_btn {
    border: none;
    background: #2bd678;
    width: 200px;
    height: 50px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 390px;
    left: 1000px;
    transition: border, background .2s;
    border-radius: 4px;
}
.collect_btn:hover {
    border-bottom: 4px solid #26a35e;
    background: #22e38c;
}



.map {
    display: flex;
    background: #89bae0;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    margin: -30px 0 0 40px;
}

.country {
    width: 250px;
    height: 250px;
    margin: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #a82c23;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.country_attack {position: absolute; top: 174px;}
.country_attack img {width: 80px; cursor: pointer; transition: width .2s;}
.country_attack img:hover {width: 84px;}
.country_title {margin: 40px 0 0 0;}
.country_defense {
    font-size: 24px;
    margin: 120px 0 0 0;
}
#c1 {
    background: #2bd678;
}


.army_container {
    width: 400px;
    height: 400px;
    padding-top: 40px;
    border-radius: 14px;
    margin: -600px 0 0 900px;
    background: #fff;
    box-shadow: 0px 5px 23px -2px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.army_counts {
    width: 200px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0 0 0;
}

.army_buy_btn {
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: 500;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    background: #66e366;
    margin: 130px 0 0 0;
    transition: background .2s;
}
.army_buy_btn:hover {
    background: #5fc95f;
}

.army_price {
    font-size: 15px;
    color: #2e2e2e;
    font-style: italic;
    margin: 6px 0 0 0;
}





.confirm_attack_container {
    width: 500px;
    height: 140px;
    padding-top: 40px;
    border-radius: 14px;
    margin: -600px 0 0 900px;
    background: #fff;
    box-shadow: 0px 5px 23px -2px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.confirm_attack_title {
    font-size: 26px;
    font-weight: 700;
}
.confirm_attack_desc {
    font-size: 18px;
    font-style: italic;
    margin: 10px 0 0 0;
}

.confirm_attack_btns {
    display: flex;
    justify-content: space-around;
}
.confirm_attack_btns button {
    border: none;
    border-radius: 0px;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 50px;
    margin: 30px 60px 30px 60px;
    transition: background, color .2s;
    cursor: pointer;
}
.confirm_attack_no {
    color: #e34d4d;
}
.confirm_attack_no:hover {
    color: #fff;
    background: #e34d4d;
}
.confirm_attack_yes {
    color: #5ae676;
}
.confirm_attack_yes:hover {
    color: #fff;
    background: #5ae676;
}